# SPDX-FileCopyrightText: 2006-2024 Knut Reinert & Freie Universität Berlin
# SPDX-FileCopyrightText: 2016-2024 Knut Reinert & MPI für molekulare Genetik
# SPDX-License-Identifier: CC0-1.0
[submodule "sdsl-lite"]
	path = submodules/sdsl-lite
	url = https://github.com/xxsds/sdsl-lite
[submodule "cereal"]
	path = submodules/cereal
	url = https://github.com/USCiLab/cereal
