sudo: required
dist: trusty
language: cpp

git:
  submodules: true

cache:
  apt: true
  ccache: true

linux-gcc-7: &linux-gcc-7
  os: linux
  compiler: 'g++-7'
  addons:
    apt:
      sources: ['ubuntu-toolchain-r-test']
      packages: ['g++-7']
  before_install:
    - export CC="gcc-7" CXX="g++-7"

# https://docs.travis-ci.com/user/languages/c/#gcc-on-linux
matrix:
  include:
  - << : *linux-gcc-7
    env:
      - BUILD=unit
      - BUILD_TYPE=Release
  - << : *linux-gcc-7
    env:
      - BUILD=unit
      - BUILD_TYPE=Debug
  - << : *linux-gcc-7
    env:
      - BUILD=performance
      - BUILD_TYPE=Release
  - << : *linux-gcc-7
    env:
      - BUILD=performance
      - BUILD_TYPE=Debug
  - << : *linux-gcc-7
    env:
      - BUILD=header
      - BUILD_TYPE=Release
  - << : *linux-gcc-7
    env:
      - BUILD=snippet
      - BUILD_TYPE=Release
  - os: linux
    compiler: 'doxygen'
    addons:
      apt:
        packages: ['texlive-font-utils']
    env:
      - BUILD=documentation
    cache:
      directories:
          - /tmp/doxygen-download
    before_install:
       - DOXYGEN_VER=doxygen-1.8.13
       - mkdir -p /tmp/doxygen-download
       - wget --no-clobber --directory-prefix=/tmp/doxygen-download/ ftp://ftp.stack.nl/pub/users/dimitri/${DOXYGEN_VER}.linux.bin.tar.gz
       - tar -C /tmp/ -zxvf /tmp/doxygen-download/${DOXYGEN_VER}.linux.bin.tar.gz
       - PATH=$PATH:/tmp/${DOXYGEN_VER}/bin/

install:
  - ccache --version
  - $CXX -v
  - cmake --version

before_script:
  - mkdir ../seqan3-build
  - cd ../seqan3-build
  - cmake ../seqan3/test/${BUILD} -DCMAKE_BUILD_TYPE=${BUILD_TYPE}
  - |
    if test unit = "${BUILD}" || test header = "${BUILD}" || test snippet = "${BUILD}"; then
      make gtest_project
    fi
  - |
    if test performance = "${BUILD}"; then
      make gbenchmark_project
    fi

script:
  - make -k
  - ctest . --output-on-failure

after_script:
  - ccache -s
