name: SeqAn3 API-Stability

# Will always run on the default branch
on:
  schedule:
    - cron: "0 4 * * SUN"
  workflow_dispatch:

env:
  CC: gcc-10
  CXX: g++-10
  CMAKE_VERSION: 3.8.2
  SEQAN3_NO_VERSION_CHECK: 1
  TZ: Europe/Berlin

defaults:
  run:
    shell: bash -exo pipefail {0}

jobs:
  build:
    name: API-Stability
    runs-on: ubuntu-20.04
    timeout-minutes: 300
    steps:
      - name: Checkout SeqAn3
        uses: actions/checkout@v2
        with:
          path: seqan3
          submodules: true

      - name: Checkout SeqAn2
        uses: actions/checkout@v2
        with:
          repository: seqan/seqan
          ref: develop
          path: seqan3/submodules/seqan

      - name: Add package source
        run: sudo add-apt-repository --yes ppa:ubuntu-toolchain-r/ppa && sudo apt-get update

      - name: Install CMake
        run: bash ./seqan3/.github/workflows/scripts/install_cmake.sh

      - name: Install ccache
        run: sudo apt-get install --yes ccache

      - name: Install compiler g++-10
        run: sudo apt-get install --yes g++-10

      - name: Load ccache
        uses: actions/cache@v2
        with:
          path: .ccache
          key: API-ccache-${{ github.run_number }}
          restore-keys: |
            API-ccache

      - name: Configure tests
        run: |
          mkdir seqan3-build
          cd seqan3-build
          cmake ../seqan3/test/api_stability -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS="-DSEQAN3_DISABLE_DEPRECATED_WARNINGS=1"

      - name: Build tests
        env:
          CCACHE_BASEDIR: ${{ github.workspace }}
          CCACHE_DIR: ${{ github.workspace }}/.ccache
          CCACHE_COMPRESS: true
          CCACHE_COMPRESSLEVEL: 6
          CCACHE_MAXSIZE: 1G
        run: |
          ccache -p || true
          cd seqan3-build
          CMAKE_BUILD_PARALLEL_LEVEL=2 cmake --build . -- -k 2>&1 | tee build.log
          ccache -s || true

      - name: Setup Python
        if: ${{ failure() }}
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Process Log
        if: ${{ failure() }}
        run: |
          echo "API_LOG<<EOF" >> $GITHUB_ENV # API_LOG is the env variable. EOF is set as delimiter for multiline vars.
          echo "$(python3 seqan3/.github/workflows/scripts/process_compiler_error_log.py seqan3-build/build.log)" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Create issue
        if: ${{ failure() }}
        uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          filename: seqan3/.github/ISSUE_TEMPLATE/api_cron_template.md
          update_existing: true
