name: Unit Linux

on:
  push:
    branches:
      - 'master'
  pull_request:
    types:
      - unlabeled
  workflow_dispatch:

concurrency:
  group: linux-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name != 'push' }}

env:
  SEQAN3_NO_VERSION_CHECK: 1
  TZ: Europe/Berlin

defaults:
  run:
    shell: bash -Eeuxo pipefail {0}

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ubuntu-22.04
    timeout-minutes: 120
    if: github.repository_owner == 'seqan' || github.event_name == 'workflow_dispatch' || github.event.label.name == 'lint'
    strategy:
      fail-fast: true
      matrix:
        include:
          - name: "gcc13"
            compiler: "gcc-13"
            build: unit
            build_type: Release
            cxx_flags: "-std=c++23"

          - name: "gcc12"
            compiler: "gcc-12"
            build: unit
            build_type: Release

          - name: "gcc11"
            compiler: "gcc-11"
            build: unit
            build_type: Release

    steps:
      - name: Checkout SeqAn3
        uses: actions/checkout@v3
        with:
          path: seqan3
          fetch-depth: 1
          submodules: true

      - name: Checkout SeqAn2
        uses: actions/checkout@v3
        with:
          repository: seqan/seqan
          path: seqan3/submodules/seqan
          fetch-depth: 1

      - name: Setup toolchain
        uses: seqan/actions/setup-toolchain@main
        with:
          compiler: ${{ matrix.compiler }}
          ccache_size: 75M

      - name: Install CMake
        uses: seqan/actions/setup-cmake@main
        with:
          cmake: 3.16.9

      - name: Configure tests
        run: |
          mkdir seqan3-build
          cd seqan3-build
          cmake ../seqan3/test/${{ matrix.build }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
                                                   -DCMAKE_CXX_FLAGS="${{ matrix.cxx_flags }}" \
                                                   -DSEQAN3_VERBOSE_TESTS=OFF
          make -j2 gtest_build

      - name: Build tests
        run: |
          ccache -z
          cd seqan3-build
          make -k -j2
          ccache -sv

      - name: Run tests
        run: |
          cd seqan3-build
          ctest . -j2 --output-on-failure

